@media (min-width: 800px) {

  nav.navbar {
    z-index: 1000;
  }

  /*INDEX HEADER QUERIES INICIO*/
  .headercontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 100vh;
    background-image: url('./img/FondoTitanFit.png');
    background-size: cover;
    background-position: center;
    padding-top: 80px;

    .headercontainer img {
      height: auto;
      max-height: 100%;
    }

    .textocontainer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

    }
  }

  /*INDEX HEADER QUERIES FIN*/

  /*INDEX QUE OBTENDRAS CONTAINER QUERIES INICIO*/
  .queobtendrascontainer {
    margin-top: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    .icons_container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      gap: 50px;
    }

    .iconib i {
      width: 100px;
      display: flex;
      justify-content: center;
    }
  }

  /*INDEX QUE OBTENDRAS CONTAINER QUERIES FIN*/

  /*INDEX ASESORIA CONTAINER QUERIES INICIO*/
  .asesoriacontainer {
    width: 100%;

    .iconpadre {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;

    }
  
    .iconbox {
      width: 20%;
      margin: 0;
      padding: 25px;

      &:hover{
        transform: scale(1.25);
      }
    }}

  /*INDEX ASESORIA CONTAINER QUERIES FIN*/

  /*INDEX TRANSFORMACION DE CLIENTES CONTAINER QUERIES INICIO*/

  .fotosclientes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .transformaciondeclientescontainer button {
    margin-bottom: 2%;
  }

  .fotocliente1:hover, .fotocliente2:hover, .fotocliente3:hover, .fotocliente4:hover {
    transform: scale(1.2);
  }

  /*INDEX TRANSFORMACION DE CLIENTES CONTAINER QUERIES FIN*/

  /*CONTACTO SECCION CONTACTO CONTAINER QUERIES INICIO*/
  .seccion_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "h1 h1 h1"
      "formulario formulario datos";

    h1 {
      grid-area: h1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
      margin-top: 2%;
    }

    .formulario {
      grid-area: formulario;
      display: flex;
      align-items: center;
      width: 70%;
      position: relative;
      left: 20%;
    }

    .datos {
      grid-area: datos;
      position: relative;
      top: 10%;
      right: 5%;
      gap: 3%;
    }
  }

  /*CONTACTO SECCION CONTACTO CONTAINER QUERIES FIN*/

  /* ASESORIAS SECCION ASESORIAS CONTAINER QUERIES INICIO*/
  .card:hover{
    transform: scale(1.05);
    border-color: black;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  }
  .container{
    margin-top: 2%;
    margin-bottom: 2%;
  
  }

  .quiensoy_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 10px;
    grid-template-areas:
        "h2 h2"
        "p img";
    justify-items: center;
    margin: 0 0 1% 0;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

h2 {
    grid-area: h2;
    text-align: center;
}
 .quiensoy_container img{
    grid-area: img;
    width: 35%;
    display: flex;
  }

p {
    grid-area: p;
    text-align: center;
}

/* ASESORIAS SECCION ASESORIAS CONTAINER QUERIES FIN*/

  /*FOOTER CONTAINER QUERIES INICIO*/
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dcfitness siguenos contacto"
      "copy copy copy";
    text-align: center;
    padding-top: 2%;

    .dcfitness {
      grid-area: dcfitness;
      padding-top: 8%;
    }

    .siguenos {
      grid-area: siguenos;
    }

    .contacto {
      grid-area: contacto;
    }

    .footer-copyright {
      grid-area: copy;
    }
  }
}

/*FOOTER CONTAINER QUERIES INICIO*/